* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #000;
    // color: #fff;
}

main {
    .btn {
        text-align: center;
        padding: 5rem;

        button {
            padding: 1rem 2rem;
            font-size: 1.1rem;
            border-radius: 1rem;
            background: rgb(126, 255, 114);
            border: none;
        }
        button:hover {
            background-color: #007421;
        }
    }

    .content {
        height: 200vh;
        padding-block: 20rem;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        .box {
            width: 150px;
            aspect-ratio: 1/1;
            background: greenyellow;
            border-radius: 10px;

            font-size: 50px;
        }
    }
}
