* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}

main{
    width: 100%;
    // background: #000;

    .top{
        height: 100vh;
        background: rgb(255, 125, 125);
        position: relative;
        z-index: 10;
    }

    .hero{
        height: 1000px;
        border: 2px solid blue;
        // margin-inline: 1rem;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        .a{
            background: pink;
            grid-area: 1/1;
            // z-index: 1;
        }
        .b{
            background: greenyellow;
            grid-area: 1/1;
            // z-index: 1;
        }
        .c{
            background: rgb(87, 255, 207);
            grid-area: 1/1;
            // z-index: 1;
        }
        .d{
            background: rgb(227, 87, 255);
            grid-area: 1/1;
            // z-index: 1;
        }
    }
}
