* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #90836a;
    color: #000;
    overflow-x: hidden;
    height: 400vh;
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .header {
        // border: 1px solid red;
        position: fixed;
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: clamp(5rem, 3vw, 7rem);
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
    }

    .wheel-wrapper {
        position: fixed;
        width: 100%;
        bottom: 0;
        height: 35vh;
        // overflow: hidden;
        .wheel {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            width: 140%;
            aspect-ratio: 1/1;
            border-radius: 50%;

            .wheel-card {
                width: 9%;
                max-width: 300px;
                aspect-ratio: 16/9;
                background: #fff;
                border-radius: 8px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    object-position: bottom;
                }
            }
        }
    }

    .scroll-down {
        position: fixed;
        top: 3rem;
        left: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 20px;
        overflow: visible;
    }
    .scroll-down-icon {
        font-weight: thin;
        position: fixed;
        top: 4rem;
        right: 4rem;
    }

}

/* Target entire scrollbar */
::-webkit-scrollbar {
  width: 5px;              /* vertical scrollbar width */
  height: 10px;             /* horizontal scrollbar height */
}

/* The scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #222;          /* track color */
  border-radius: 5px;
}

/* The draggable scrollbar handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #90836A, #000000);
  border-radius: 5px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #90836A, rgb(255, 255, 255));
}
