* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    border: 2px solid red;
    display: grid;
    margin-block: 1rem;
    border: 1px solid #000;
    gap: 4rem;
    padding-block: 5rem;
    grid-template-columns: repeat(11,1fr);
    place-items: center;

    .box {
        font-size: 10rem;
        text-align: center;
        aspect-ratio: 1/1;
        width: 100px;
        background: linear-gradient(45deg, #ff6ec4, #7873f5);
        border-radius: 1rem;
        opacity: 0;
    }

}
