* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: antiquewhite;
}

main {
    // border: 5px solid purple;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    .main-content {
        position: fixed;
        z-index: 1;
        width: 100vw;
        height: 100vh;
    }
    .wrapper {
        z-index: 999;
        // border: 2px solid red;
        width: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        .slider-wrap {
            // border: 4px solid black;
            // width: auto;
            .slider {
                position: relative;

                width: 100%;
                height: 100vh;
                // border: 2px solid goldenrod;
                display: grid;
                align-items: end;
                padding-bottom: 20vh;
                .text {
                    grid-area: 1/1;
                    background-image: url(./img/green-bg.png);
                    background-size: contain;
                    h1 {
                        // font-size: 21rem;
                        font-size: 18vw;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        word-spacing: 3rem;
                        text-align: center;
                    }
                }
                .image {
                    grid-area: 1/1;
                    text-align: center;
                    img {
                        // border: 2px solid goldenrod;
                        width: 40%;
                        transform: translateX(-11px);
                    }
                }
            }
        }

        #slide2{
            .text{
                background-image:url(./img/red-bg.png) ;
            }
            img{
                transform: translateX(30px);
            }
        }
        #slide3{
            .text{
                background-image:url(./img/yellow-bg.png) ;
            }
            img{
                transform: translateX(20px);
            }
        }
        #slide4{
            .text{
                background-image:url(./img/purple-bg.png) ;
            }
            img{
                transform: translateX(20px);
            }
        }
    }
}
