* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #90836a;
    color: #000;
    overflow-x: hidden;
    height: 400vh;
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .header {
        // border: 1px solid red;
        position: fixed;
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: clamp(5rem, 3vw, 7rem);
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
    }

    .wheel-wrapper {
        // border: 2px solid green;
        position: fixed;
        width: 100%;
        bottom: 0;
        height: 35vh;
        // overflow: hidden;
        .wheel {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            width: 140%;
            aspect-ratio: 1/1;
            // border: 2px solid white;
            border-radius: 50%;

            .wheel-card {
                width: 7%;
                aspect-ratio: 5/4;
                background: #fff;
                border-radius: 8px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .scroll-down {
        position: fixed;
        top: 3rem;
        left: 3rem;
        // color: #000;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 20px;
        overflow: visible;
    }
    .scroll-down-icon {
        font-weight: thin;
        position: fixed;
        top: 4rem;
        right: 4rem;
    }
}
